<!DOCTYPE HTML>
<html lang="en-US" ng-app="weBudgetApp">
	<head>
		<meta charset="UTF-8">
		<title>Angular JS</title>
		<link rel="stylesheet" type="text/css" href="assets/css/webudget.css"/>
		<script src="assets/js/angular.min.js"></script>

		<script>
			//Special thanks to
			//https://www.youtube.com/watch?v=TRrL5j3MIvo&list=PL4CDmtOXZQHWVjXKHjWoBUFwhTVPyyqGK
			
			//Generic.js
			//http://stackoverflow.com/questions/8668174/indexof-method-in-an-object-array
			var checkExisting = function (myArray, propVal, property) {
				//myArray being the array you want to look inside
				//propVal being the property value you want to find
				//property being the property of propVal
				
				var tmpArray = [];
				var propVal = angular.lowercase(propVal)
				
				for (i in myArray){
					tmpArray.push(angular.lowercase(myArray[i][property]))
				}

				if(tmpArray.indexOf(propVal) > -1){ //true if propVal exists
					for(var i = 0, len = myArray.length; i < len; i++) {
						if ( tmpArray[i] === propVal) {
							console.log("Property found")
							return parseInt(myArray[i].id); //This person is found in the list. 
						} 
					}
				} else {
					return -1; //not found in array
					console.log("Property not found")
				}
			}
			
			//http://stackoverflow.com/questions/1669190/javascript-min-max-array-values
			Array.prototype.max = function() {
			  return Math.max.apply(null, this);
			};

			Array.prototype.min = function() {
			  return Math.min.apply(null, this);
			};
			
			//http://stackoverflow.com/questions/15287865/remove-array-element-based-on-object-property
			var rmvById = function(myArray,id){
				for( i=myArray.length-1; i>=0; i--) {
					if( myArray[i].id == id) myArray.splice(i,1);
				}
			}
			
			var upd = function(myArray,id,newName, test){
				for( i=myArray.length-1; i>=0; i--) {
					if( myArray[i].id == id && test == -1) {
						myArray[i].name = newName;
					}
				}
			}
			
			//###################################
			//Budgets.js
			var weBudgetApp = angular.module("weBudgetApp",[]);
			weBudgetApp.controller('budgetCtrl',function ($scope){
			
			//Create array with default users
			$scope.users = [
				{name:"Merete",id:0},
				{name:"Line",id:1},
				{name:"Lone",id:2}
			];
			
			//Defines default name in dropdown list
			$scope.default = $scope.users[0]; // initializes value at load
			if($scope.users.length < 1){
				$scope.default = "Add names to list"; // Volvo
			}
			
			//Function to add name to list
			$scope.addName = function(){
				$checkExisting = checkExisting($scope.users, $scope.enteredName, "name");
				if($checkExisting > -1 ){
					//console.log("sorry dude, already taken")	
				} else if( $scope.enteredName == undefined){
					alert("Undefined!")
				} else {
					var newID;
					var tmpArr = [];
					for (i=0; i< $scope.users.length;i++){
						tmpArr.push($scope.users[i].id)
					}
					newID = tmpArr.max() + 1;
					$scope.users.push({name:$scope.enteredName,id:newID});
					$scope.enteredName = ""; // resets input field. Do not change!
				}
			}
			
			//Function to remove name on list
			$scope.rmvName = function (){
				rmvById($scope.users,$scope.default.id)
				$scope.default = $scope.users[0];
			}
			
			//Function to edit name
			$scope.updName = function (){
				$checkExisting = checkExisting($scope.users, $scope.selName, "name");
				upd($scope.users,$scope.default.id,$scope.selName,$checkExisting)
				if($checkExisting == - 1){
					$scope.selName = "";
				}
			}
		})
		
	</script>

	</head>
	<body ng-controller="budgetCtrl" >
		<h1>Angular JS in the works</h1>
		<p>This is a demonstration based on Angular JS.</p>
			
		
		<h2>Remove</h2>
		<form ng-submit="rmvName()">
			<label>Select user<br/>
				<select ng-model="default" ng-options="user.name for user in users track by user.id"></select>
			</label>
			<input type="submit" value="Delete" ></input>
		</form>
		
		<hr>
		
	<h2>Add</h2>
		<form ng-submit="addName()">
			<label>Add user to the list: </label><br/>
			<input type="text" ng-model="enteredName"></input>
			<input type="submit" value="Add" ></input>
		</form>
		
		<hr>
		<h2>Edit</h2>
		<form ng-submit="updName()">
			<label>Edit name from the list: </label><br/>
			<input type="text" ng-model="selName"></input>
			<input type="submit" value="Update" ></input>
		</form>
		
		<hr>
		<h2>Checkboxes angular</h2>
		
	</body>
</html>